*{
    box-sizing: border-box;
}

p{
    background-color: aqua;
    text-align: center;
   padding: 10rem;
}
.bug{
    background-color: rgba(0, 128, 0, 0.445);
}
.dark{
    background-color: rgba(128, 128, 128, 0.363);
}
.dragon{
    background-color: rgba(0, 174, 255, 0.637);
}
.electric{
    background-color: yellow;
}
.fairy{
    background-color: rgb(185, 34, 59);
}
.fighting{
    background-color: rgb(196, 36, 36);
}
.fire{
    background-color: red;
}
.flying{
    background-color: rgba(0, 255, 255, 0.466);
}